<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock_VS_Covid</title>
    <!-- Boostrap link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--css style sheet link-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style2.css') }}">
</head>

<body>
    <br>
    <br>
    <div class="container">
        <!-- Header  -->
        <div class="row">
            <div class="col-md-12" id="header">
                <h1>Stocks vs Covid</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- Date Selection Section -->
            <div class="col-md-3 drop-down">
                <form>
                    <div class="well"><br>
                        <label for="selDateset"><h5>Available Dates: </h5></label><br>
                        <select id="selDateset" onchange="optionChanged(this.value)"></select>
                    </div><br>
                </form>

            </div>

            <!-- Stock Categories Section-->
            <div class="col-md-3 drop-down">

                <form>
                    <div class="well"><br>
                        <label for="selCategory"><h5>Stock Categories: </h5></label><br>
                        <select id="selCategory" name="stock_tables">
                                <option value="aviation">Aviation</option>
                                <option value="entertainment">Entertainment</option>
                                <option value="technology">Technology</option>
                                <option value="telecommunication">Telecommunication</option>
                              </select>
                    </div><br>
                </form>

            </div>

        </div>

        <!-- Top Affected Stocks Section-->
        <!-- <div class="col-md-3 drop-down">
            <form action="/" method='GET'>
                <div class="well"><br>
                    <label for="selTicker">
                                    <h5>Top Affected Stocks </h5>
                                </label><br>
                    <select id="selTicker" name="ticker_table">
                                </select>
                </div><br>
                <button name='scrape' type='submit'>Plot this Ticker</button>
            </form>
        </div> -->

        <div class="row spacer">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="plot-header">
                <p>header area for plot id="plot-header"</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="plot">

            </div>
        </div>
  
        <div class="row spacer">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="bar-graph">

            </div>
            <div class="col-md-6">

                <div class="row" id="news-headline">
                </div>
                <div class="row" id="news-text">

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/appM.js') }}"></script>

</body>

</html>